<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

<!--    <logger name="org.eclipse.jetty.io.CyclicTimeout" level="debug" />-->
<!--    <logger name="org.eclipse.jetty.io.CyclicTimeouts" level="debug" />-->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
